services:
  bot:
    build: .
    container_name: discord_yt_bot
    restart: always
    env_file:
      - path: .env
        required: false

    environment:
      - BOT_TOKEN=${BOT_TOKEN:-default}
      
    volumes:
      - .:/app
      - yt_cache:/root/.cache/yt-dlp
    stdin_open: true
    tty: true

  bgutil-provider:
    image: brainicism/bgutil-ytdlp-pot-provider:latest
    container_name: bgutil-provider
    restart: always
      
volumes:
  yt_cache: